.category_item__box
  .category_item__box__link
    -@grand_categories.each do |item|
      .category__items
        = link_to item_path(item.id) do
          .category_item__box__link__image
            - if item.brand && item.buyer_id
              = image_tag ("icon-04.png")
              %spen.out SOLD
            - else item.brand
              = image_tag "#{item.item_images[0].image}"   
          .category_item__box__link__name
            = item.name
          %ul
            %li 
              = item.price.to_s(:delimited)
              %spen.unit円              
            %li 
              = icon("fa","star")
              0
          .category_item__tax (税込)
          = item.category.name