- if @category.root?
  - breadcrumb :parent_category
- elsif @category.has_children?
  - breadcrumb :child_category
- else
  - breadcrumb :grandchild_category
.Wrapper
  .category_item
    .category_item__title
      = "#{@category.name}の商品一覧"
    .category_item__list
      - @category_links.each do |category|
        .category_item__list__name
          = link_to category.name, category_path(category)
    = render "category_parent"
    = render "category_children"
    = render "category_grand_children"