- if item.buyer_id.present?
  .products__box
    .products__box__image
      = link_to item_path(item.id) do
        = image_tag item.item_images[0].image.url
        %spen.out SOLD
    .products__box__body
      %h3.name
        = item.name
      %ul.details
        %li.details__price
          = item.price.to_s
          %spen.unit円
          - if user_signed_in? && Like.like_method(item, current_user)
            %li.details__icon--like
              = icon("fas", "star")
          - elsif user_signed_in?
            %li.details__icon
              = icon("fas", "star")
          - else
            %li.details__icon
              = icon("fas", "star")
        %li.details__count
          = item.likes.length
      .tax
        = "（税込）"
- else
  .products__box
    .products__box__image
      = link_to item_path(item.id) do
        = image_tag item.item_images[0].image.url
    .products__box__body
      %h3.name
        = item.name
      %ul.details
        %li.details__price
          = item.price.to_s
          %spen.unit円
          - if user_signed_in? && Like.like_method(item, current_user)
            %li.details__icon--like
              = link_to "/items/#{item.id}/likes/:id" , method: :DELETE ,remote: true do
                = icon("fas", "star")
          - elsif user_signed_in?
            %li.details__icon
              = link_to "/items/#{item.id}/likes", method: :POST ,remote: true do
                = icon("fas", "star")
          - else
            %li.details__icon
              = link_to new_user_session_path do
                = icon("fas", "star")
        %li.details__count
          = item.likes.length
      .tax
        = "（税込）"