.mypage_Wrapper
  %section.mypage_title
    = @nickname
    %spenさんの
    %pマイページ
  %section.mypage_boxes
    .mypage_boxes__box
      = link_to card_path(current_user) do
        .icon
          = icon("fas", "credit-card")
        .menu
          カード新規登録/登録情報確認
    .mypage_boxes__box
      = link_to card_path(current_user) do
        .icon
          = icon("fas", "sim-card")
        .menu
          〇〇
  %section.mypage_boxes
    .mypage_boxes__box
      = link_to root_path do
        .icon
          = icon("fas", "sticky-note")
        .menu
          プロフィール編集
    .mypage_boxes__box
      = link_to root_path do
        .icon
          = icon("fas", "credit-card")
          カード登録/詳細
    .mypage_boxes__box
      = link_to card_path(current_user), method: :delete do
        .icon
          = icon("fas", "money-check")
        .menu
          登録カード削除
    .mypage_boxes__box
      = link_to destroy_user_session_path, method: :delete do
        .icon
          = icon("fas", "sign-out-alt")
        .menu
          ログアウト