.wrapper
  .field
    .buy-content
      .buy-content__attention
        .attention
          %i.far.fa-clock
            発送をお待ちください
      .buy-content__title
        購入が完了しました
      .buy-content__item
        .buy-content__item__image
          = image_tag "#{@item.item_images[0].image}", size: '128x128', class: 'image'
        .buy-content__item__name
          = @item.name
        .buy-content__item__price
          = "¥#{@item.price.to_s}"
          %span.shipping-free (税込) 送料込み
      .buy-content__item__pay-price
        .pay-price
          .pay-price__left
          支払金額
          .pay-price__right
            = "¥#{@item.price.to_s}"
      .buy-content__user-info__submit
        = link_to "トップページへ戻る", root_path, class: 'top-button'