.another_item
  .another_item__category
    -if @item.category.parent != nil
      = link_to "#{@item.category.parent.parent.name}","#"
    -else
      = link_to "#{@item.category.name}" ,"#"
    = link_to " をもっと見る", "#"
  .another_item__box
    .another_item__box__link
      -@categories.each do |item|
        .product
          = link_to item_path(item.id) do
            .another_item__box__link__image
              - if item.brand && item.buyer_id
                = image_tag ("icon-04.png")
                %spen.out SOLD
              - else item.brand
                = image_tag "#{item.item_images[0].image}"   
            .another_item__box__link__name
              = item.name
            %ul
              %li 
                = item.price
                %spen.unit円              
              %li 
                = icon("fa","star")
                0
            .another_item__tax (税込)